<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Interactive Graph</title>
  <script src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>
  <link rel="stylesheet" href="../static/css/button_graph.css">
</head>
<body>
  <h1>Interactive Graph</h1>
  <div id="main-container">
    <div id="network"></div>
    <div id="controls"></div>
  </div>
  <button id="generateButton">Generate</button> 
  <script src="../static/js/newbut.js"></script>
</body>
</html>
